<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    @media all and (max-width: 768px){
        #a{
            display: none;
        }
        @media all and (max-width:375px) {
            main nav {
                width: 200px;
            }
            @media all and (max-width:489px) {
                main nav {
                    width: 200px;
                }
            }
        }
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>hardware</title>

</head>
<body bgcolor="#6495ed">

<div id="mid">
    <div class="contact">
        <h2>Contact Info</h2>
        <p>
            Address : galle road ,kaluwalla</br>
            Email   : JohnDoe@gmail.com</br>
            Phone   : 0915726177</br>
        </p>
    </div>
</div>
<div id="mid">
    <div class="info">
        <h2>Contact Info</h2>
        <p>
            Address : union place ,colombo</br>
            Email   : JohnDoe@gmail.com</br>
            Phone   : 0115726177</br>
        </p>
    </div>
</div>
    </tr>
</body>
</html>